<div class="container">
  <!-- FOOTER -->
  <footer>
    <div class="row">
      
    <div class="col-lg-3">
    <div class="well well-sm">
      
      <center>
      <h2>SARL</h2>
      <div>Agent-Oriented Programming Language</div>
      <img src="/images/SARL-logo.png" style="width:40%"/>
      </center>
    </div>
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-th-large"></i> Quick Links </h2> 
      <ul>
        <li><a href="/news">SARL News</a></li>
        <li><a href="/about">About SARL</a></li>
        <li><a href="/about">License</a></li>
      </ul>
      </div> 
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-cog"></i> Support</h2>
      <ul>
        <li><a href="http://github.com/sarl/sarl">View on Github</a></li>
        <li><a href="http://github.com/sarl/sarl/issues">Report an Issue</a></li>
      </ul>
      </div> 
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-link"></i> Links</h2>
      <ul>
        <li><a href="http://www.janusproject.io">Janus Project</a></li>
        <li><a href="http://www.gitia.org">GITIA - FRT - UTN</a></li>
        <li><a href="http://www.multiagent.fr">MAS Group - IRTES - UTBM</a></li>
      </ul>
      </div> 
    </div>
    </div>
    
  </footer>
</div>
