<div class="container">
  <!-- FOOTER -->
  <footer>
    <div class="row">
      
    <div class="col-lg-3">
    <div class="well well-sm">
      
      <center>
      <h2>SARL</h2>
      <div>Agent-Oriented Programming Language</div>
      <img src="{{ page.relative }}images/SARL-logo.png" style="width:30%;max-width:64px;"/><br/>
      <small><a href="{{ page.relative }}images/SARL-logo.png">png</a>&nbsp;&middot;&nbsp;<a href="{{ page.relative }}images/SARL-logo.svg">svg</a></small>
      </center>
    </div>
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-th-large"></i> Quick Links </h2> 
      <ul class="fa-ul">
		  <li>
			<a href="{{ page.relative }}search/index.html">
			  <i class="fa-li fa fa-search"></i> Search
			</a>
		  </li>
		  <li>
			<a href="{{ page.relative }}news/index.html">
			  <i class="fa-li fa fa-feed"></i> News
			</a>
		  </li>
		  <li>
			<a href="{{ page.relative }}about/index.html">
			  <i class="fa-li fa fa-info"></i> About
			</a>
		  </li>
		  <li>
			<a href="{{ page.relative }}about/index.html#license">
			  <i class="fa-li fa fa-legal"></i> License
			</a>
		  </li>
		  <li>
			<a href="{{ page.relative }}supports/index.html">
			  <i class="fa-li fa fa-asterisk"></i> Supports&amp;Sponsors
			</a>
		  </li>
      </ul>
      </div> 
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-cog"></i> Support</h2>
      <ul class="fa-ul">
		  <li>
			<a href="https://groups.google.com/d/forum/sarl">
			  <i class="fa-li fa fa-comments"></i> User Forums
			</a>
		  </li>
		{% if site.gitter_room %}
		  <li>
			<a href="https://gitter.im/{{ site.gitter_room }}" target="_blank">
			  <i class="fa-li fa fa-wechat"></i> Chat Room
			</a>
		  </li>
		{% endif %}
		{% if site.github_username %}
		  <li>
			<a href="https://github.com/{{ site.github_username }}" target="_blank">
			  <i class="fa-li fa fa-github"></i> GitHub
			</a>
		  </li>
		  <li>
			<a href="https://github.com/{{ site.github_username }}/issues" target="_blank">
			  <i class="fa-li fa fa-bug"></i> Report an Issue
			</a>
		  </li>
		{% endif %}
		{% if site.linkedin_username %}
		  <li>
			<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
			  <i class="fa-li fa fa-linkedin"></i> LinkedIn
			</a>
		  </li>
		{% endif %}
		{% if site.facebook_username %}
		  <li>
			<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
			  <i class="fa-li fa fa-facebook"></i> Facebook
			</a>
		  </li>
		{% endif %}
		{% if site.twitter_username %}
		  <li>
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
			  <i class="fa-li fa fa-twitter"></i> Twitter
			</a>
		  </li>
		{% endif %}
		{% if site.dribbble_username %}
		  <li>
		    <a href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">
			  <i class="fa-li fa fa-dribbble"></i> Dribbble
			</a>
		  </li>
		{% endif %}
      </ul>
      </div> 
    </div>
    <div class="col-lg-3">
      <div class="well well-sm">
      <h2><i class="glyphicon glyphicon-link"></i> Links</h2>
      <ul class="fa-ul">
        <li><a href="http://www.ciad-lab.fr" target="_blank"><i class="fa-li fa fa-university"></i>MAS Group - CIAD - UBFC</a></li>
        <li><a href="https://www.rmit.edu.au/contact/staff-contacts/academic-staff/r/rodriguez-dr-sebastian" target="_blank"><i class="fa-li fa fa-university"></i>RMIT</a></li>
      </ul>
      </div> 
    </div>
    </div>
    
  </footer>
</div>
