<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">
    <link rel="icon" href="{{ page.relative }}images/favicon.ico" />
    <link rel="shortcut icon" href="{{ page.relative }}images/favicon.ico">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ page.relative }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ page.relative }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ page.relative }}css/custom.css">
	<link rel="stylesheet" href="{{ page.relative }}css/prettify.css">

	<script type="text/javascript" src="{{ page.relative }}js/prettify.js"></script>
	<script type="text/javascript" src="{{ page.relative }}js/lang-jnario.js"></script>
	<script type="text/javascript" src="{{ page.relative }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ page.relative }}js/bootstrap-tab.js"></script>
	<script type="text/javascript" src="{{ page.relative }}js/lang-sarl.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="prettyPrint()">

    {% include navbar.html %}
    <div class="container">
      {{ content }}
    </div> <!-- /default layout container -->

    {% include footer.html %}

  </body>
</html>
